<?xml version="1.0" encoding="utf-8"?>
<configuration>

	{
	"primaryKey": "UXFbcs3hTTtJZPS8xjC7K2SAO1VutzY19gW5al3DVGw=",
	"secondaryKey": "aB/qKsOxwBiSP2II9dVMVP5a49SOiCrNJYFxLyj5hQI=",
	"primaryConnectionString": "Endpoint=https://hermeschatapp.service.signalr.net;AccessKey=UXFbcs3hTTtJZPS8xjC7K2SAO1VutzY19gW5al3DVGw=;Version=1.0;",
	"secondaryConnectionString": "Endpoint=https://hermeschatapp.service.signalr.net;AccessKey=aB/qKsOxwBiSP2II9dVMVP5a49SOiCrNJYFxLyj5hQI=;Version=1.0;"
	}

</configuration>