/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url("");
    background-size: cover;
    background-color: #F0F8FF;
}

.title {
    text-align: left;
    color: darkblue;
    font-family: Gotham SSm A;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 50px;
}

.text {
    color: darkblue;
    font-size: 20px;
    margin-top: 5px;
    font-family: Gotham SSm A;
    margin-left: 50px;
}

.form-control {
    text-align: left;
    border: 1px solid darkolivegreen;
    background: white;
    border-radius: 5px;
    height: 45px;
    width: 300px;
    margin-left: 50px;
}

.btn {
    margin-top: 20px;
    width: 110px;
    height: 45px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ba52b7;
    background: darkblue;
    font-weight: normal;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
    font-family: Gotham SSm A;
    margin-left: 50px;
}

    .btn:hover {
        color: #ffbb00;
    }

