/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body {
    background-image: url("");
    background-size: cover;
    background-color: #aaccee;
}

.wrapper {
    background: #aaccee;
    max-width: var(--wrapper-width, 450px);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
    /*padding-top: 10px;*/
    position: absolute;
    left: 50%;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.title {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: unset;
    color: darkblue;
    font-family: cursive 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-style: italic;*/
    font-size: 35px;
    font-weight: lighter 100;
}

.inputgroup {
    background: #bbddee;
    margin-left: 30px;
    margin-right: 35px;
    padding-left: 35px;
    padding-right: 35px;
    font-family: Gotham SSm A;
    font-size: 18px; 
    padding-block-start: 15px;
}

.field-validation-error {
    display: none !important;
}

.text-danger validation-summary-errors {
    margin-top: 50px;
    font-size: 18px;
    color: orangered;
    font-family: Gotham SSm A;
}

ul {
    font-size: 18px;
    color: orangered;
    font-family: Gotham SSm A;
}
.form-control {
    border: 1px solid darkolivegreen;
    background: #F0F8FF;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
    width: 304px;
}

.login {
    font-family: Gotham SSm A;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 316px;
    height: 45px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ba52b7;
    background: #ffbb00;
    font-weight: normal;
    font-size: 20px;
    color: darkblue;
    letter-spacing: 1px;
}
    .login:hover {
        background-image: linear-gradient(to right, #93c0f7, #f5dea0, #ffd04f, #93c0f7);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }

.forgotPassword {
    padding-top: 10px;
    padding-bottom: 20px;
    background: #bbddee;
    border: none;
    font-size: 18px;
    font-family: Gotham SSm A;
}
    .forgotPassword:hover {
        color: darkblue;
        letter-spacing: 1px;
    }

.register {
    background: #bbddee;
    border: none;
    margin-bottom: 50px;
    font-family: Gotham SSm A;
    font-size: 18px;
    font-style: italic;
    color: darkblue;
    font-weight: bolder;
    padding-left: 10px;
}
    .register:hover {
        letter-spacing: 1px;
    }



/*ul {
    padding-inline-start: 10px;
}*/
/*.text-danger validation-summary-errors {
    
}*/


