/** {
    box-sizing: border-box;
}*/

body {
    margin: 0;
    /*height: auto;
    width: auto;*/
    display: flex;
    flex-direction: column;
    font-family: Gotham SSm A;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.navbar {
    /*background-color: #342742;*/
    background-color: #F0F8FF;
    z-index: 100;
    box-shadow: 0 1px 2px 0 #333;
    display: flex;
    flex-direction: row;
}
    /*will get applied to your div and then subsequently to everything that is within it*/

.navbar > a {
    color: darkblue;
    text-decoration: none;
    font-size: 18px;
    padding-top: 0.8rem;
    padding-left: 1rem;
    font-family: Gotham SSm A;
}
/*will only get applied to the <a > tag inside the div with class=navbar*/

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.signout {
    font-family: Gotham SSm A;
    /*margin-top: 15px;
    margin-bottom: 15px;*/
    width: 100px;
    height: 35px;
    border-width: 1px;
    border-radius: 5px;
    border-color: #ba52b7;
    background: #ffbb00;
    font-weight: normal;
    font-size: 18px;
    color: darkblue;
    letter-spacing: 1px;
    margin-left: 520px;
    margin-top: 0.4rem;
}

    .signout:hover {
        background-image: linear-gradient(to right, #93c0f7, #f5dea0, #ffd04f, #93c0f7);
        box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
    }

.side-menu {
    background-color: #aaccee;
    min-width: 100px;
    max-width: 120px;
    z-index: 50;
    box-shadow: 1px 0 2px 0 #333;
    display: flex;
    flex-direction: column;
    font-family: Gotham SSm A;
}

.room-button {
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 1rem 0;
    height: 68px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 1px #142c62;
    /* background-color: #57446b;*/
    background-color: darkblue;
    font-family: Gotham SSm A
}

    .room-button > strong {
        font-size: 36px;
        font-family: Gotham SSm A;
    }

    .room-button:hover {
        /* box-shadow: 0 2px 3px 1px #222;*/
        background-image: linear-gradient(to right, #93c0f7, #ffbb00);
        box-shadow: 0 4px 15px 0 rgba(349, 96);
        color: darkblue;
        font-family: Gotham SSm A;
    }

.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    
}

.chat-body {
    background-color: #aaccee;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: row;
    margin-top: 0.2rem;
}

    .message:first-child {
        margin-top: auto;
    }

    .message > * {
        padding: 0.2rem;
    }

    .message > header {
        font-weight: bold;
        min-width: 100px;
        text-align: right;
    }

    .message > p {
        margin: 0;
        flex-grow: 5;
    }

    .message > footer {
        min-width: 60px;
        text-align: center;
    }

.chat-input {
    background-color: #aaccee;
    min-height: 70px;
    max-height: 70px;
    z-index: 25;
    box-shadow: 0 -1px 2px 0 #333;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

    .chat-input > input {
        flex-grow: 2;
    }

    .chat-input > button {
        flex-grow: 1;
        background-color: #F0F8FF;
        font-family: Gotham SSm A;
        color:darkblue;
        font-size: 18px;
    }

.modal {
    display: none;
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: rgba(0.2, 0.2, 0.2, 0.8);
}

    .modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

.modal-body > .close {
    position: absolute;
    top: 5px;
    right: 5px;
    margin-top: 0;
}

.modal-body {
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #aaccee;
    padding: 1rem;
}

    .modal-body > * {
        margin-top: 0.75rem;
    }

    .modal-body > header {
        color: #fff;
        font-size: 24px;
    }

    .modal-body > div > input {
        width: 100%;
    }

    .modal-body > footer {
        text-align: center;
    }

.container {
    position: fixed; 
    left: 0;
    bottom: 0;
    margin-bottom: 10px;
}