@{
    ViewData["Title"] = "Confirmation to reset password";
}
 
<h2>@ViewData["Title"]</h2>
<p>
    Your password has been reset. Please, to use the application go to <a asp-action="Login">link</a>.
</p>