@{
	ViewData["Title"] = "Reset Password";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>
<h2>@ViewData["Title"]</h2>
<style>
	h2 {
		color: darkolivegreen;
		/*font-family: Castellar;*/
		margin-top: 50px;
		font-size: 40px;
	}
</style>
<p style="color: darkolivegreen; font-size: 20px; margin-top: 30px;">
	To reset password go to link sent on your email address.
</p>