@{
	ViewData["Title"] = "Reset Password";
}
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/~/css/forgotPasswordConfirmation.css />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
</head>

<h2 class="title">Reset Password</h2>
<p class="text">
	To reset password go to link sent on your email address.
</p>