@model ForgotPasswordViewModel
@{
	ViewData["Title"] = "Forgot Password?";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>
<h2>@ViewData["Title"]</h2>
<style>
	h2 {
		text-align: left;
		padding-bottom: 15px;
		color: darkblue;
		font-family: Gotham SSm A;
		font-size: 40px;
		margin-top: 30px;
	}
</style>

<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
	<div class="text"
		 style="color: darkblue; font-size: 20px; margin-top: 30px;">
		<p>That`s OK, it happens! </p>
		<p>Please enter your e-mail and click on the button to reset your password.</p></>
	</div>

	@*<div asp-validation-summary="All" class="text-danger"></div>*@
	<div class="form-group">
		<label asp-for="Email" class="col-md-2 control-label"></label>

		<div class="allign:left">
			<input style="
							border: 1px solid darkolivegreen;
							background:  white;
							border-radius: 5px;
							height: 45px;
							width:300px"
				   asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-primary"
					style="margin-top: 20px;
							width:110px; height: 45px;
							border-width:1px;
							border-radius: 5px;
							border-color: #ba52b7;
							background: darkblue;
							font-weight: normal;
							font-size: 20px;
							color: white;
							letter-spacing: 1px;
							font-family: Gotham SSm A">
				Send
			</button>
		</div>
	</div>
</form>