<!DOCTYPE html>
<html lang="en">

@{
	ViewData["Title"] = "Reset Password";
}
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/forgotPasswordConfirmation.css />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
</head>
<body> 
    <style> body {
    background-image: url("");
    background-size: cover;
    background-color: #F0F8FF;
}
</style>
<h2 class="title">
	<style> 
		title {
    text-align: left;
    padding-bottom: 15px;
    color: darkblue;
    font-family: Gotham SSm A;
    font-size: 40px;
    margin-top: 30px;
    margin-left: 50px;
}
</style>
	Reset Password</h2>
<p class="message">
	To reset password go to link sent on your email address.
	<style>message {
    color: darkblue;
    font-size: 20px;
    margin-top: 30px;
    font-family: Gotham SSm A;
    margin-left: 50px;
}
</style>
</p>
</body>
</html>