@model HermesChatTeamB_v3.ViewFolder.ForgotPasswordViewModel
@{
	ViewData["Title"] = "Forgot Password?";
}
<head>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/forgotPassword.css" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">*@
</head>

<h2 class="title">Forgot Password</h2>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
	<div class="text">
		<p>That`s OK, it happens! </p>
		<p>Please enter your e-mail and click on the button to reset your password.</p></>
	</div>

	@*<div asp-validation-summary="All" class="text-danger"></div>*@
	<div class="form-group">
		@*<label asp-for="Email" class="col-md-2 control-label"></label>*@
		<div class="allign:left">
			<input class="form-control" asp-for="Email" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button class="btn" type="submit" class="btn btn-primary">
				Send
			</button>
		</div>
	</div>
</form>