@{
	ViewData["Title"] = "Privacy Policy";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>
<h1>@ViewData["Title"]</h1>
<style>
	h1 {
		color: darkblue;
		/*font-family: Castellar;*/
		margin-top: 50px;
		font-size: 40px;
		font-family: Gotham SSm A;		
	}
</style>

<div class="policy>" ; style="margin-top: 30px; font-family: Gotham SSm A; font-size: 20px;">
	<div align="justify">
		<p>Hermes Chat is strongly committed to protecting your privacy and complying with your choices.</p>
		<p>Your information will not be shared, rented or sold to any third party.</p>
		<p>
			We use your personal information for the providing you information
			that will allow you to use Hermes Chat.
		</p>
		<p>
			When you provide your personal information, you consent that it can be used
			for the above purposes and that Hermes Chat is an authorized holder of such information.
		</p>
		<p>
			If we make changes to our Privacy Policy, we will post these changes here
			so that you are always aware of what information we collect,
			how we use it and under what circumstances, if any, we disclose it.
			If at any point we decide to use your information in a manner different
			from that stated at the time it was collected, we will notify you by email.
		</p>
		<p>If you have questions or comments about this privacy policy, please email us or write us at:_______</p>
	</div>
</div>