@{
	ViewData["Title"] = " ";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>
<h2>@ViewData["Title"]</h2>
<style>
	h2 {
		text-align: left;
		padding-bottom: 15px;
		color: darkblue;
		font-family: Gotham SSm A;
		font-size: 30px;
		margin-top: 30px;
	}
</style>
<h2>@ViewData["Title"]</h2>
<p style="color: darkblue; font-size: 20px; font-family: Gotham SSm A; margin-top: 30px; margin-left: 50px;">
	Your password has been reset. Please, to use the application go to <a asp-action="Login">link</a>.
</p>
