@{
	ViewData["Title"] = "Home Page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body {
		background-image: url("");
		background-size: cover;
		background-color: #F0F8FF;
	}
</style>

<div class="text-left">
	<h1 class="display">Welcome to Hermes Chat</h1>
	<style>
		h1 {
			color: darkolivegreen;
			/*font-family: Castellar;*/
			padding-top: 30px;
			font-size: 50px;
		}
	</style>

	<!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>

@model HermesChatTeamB_v3.ViewModels.LoginViewModel
<form method="post" asp-controller="Account" asp-action="Login">
	<div class="text-left">
		<div>
			<label style="color: darkolivegreen; font-size: 20px; padding-top: 20px;" asp-for="Email"></label><br />
			<input style="
				   width: 20rem; height: 3.2rem;
				   border-radius: 5px;
				   border-block-color: darkolivegreen;
				   background: white"
				   asp-for="Email" />
			<span asp-validation-for="Email"></span>
		</div>
		<div>
			<label style="color: darkolivegreen; font-size: 20px; padding-top: 20px;" asp-for="Password"></label><br />
			<input style="
				   width: 20rem; height: 3.2rem;
				   border-radius: 5px;
				   border-block-color: darkolivegreen;
				   background: white"
				   asp-for="Password" />
			<span asp-validation-for="Password"></span>
		</div>
		@*<div>
			<label asp-for="RememberMe"></label><br />
			<input asp-for="RememberMe" />
		</div>*@
		<div>
			<input asp-controller="Account" asp-action="ForgotPassword" type="submit" value="Forgot Password?" />
		</div>
	</div>
	<div>
		<input type="submit" value="Login" />
	</div>
	<div>
		<input asp-controller="Account" asp-action="Register" Register type="submit" value="Registration" />
	</div>
</form>


<!----
@if (User.Identity.IsAuthenticated)
{
	<p>@User.Identity.Name</p>

	<form method="post" asp-controller="Account" asp-action="LogOff">
	<input type="submit" value="Sign Out" />
	</form>
}
else
{
	@*<a asp-controller="Account" asp-action="Login">Login</a>*@
	@*<a asp-controller="Account" asp-action="Register">Register</a>*@
}-->
